*.log
*.txt
*.phtml.php
**/.idea/
*.DS_Store
**/*.sum
**/*.pid
**/*docker-compose.yml
**/*.lock
script/debug/*
script/vendor/*
.env
.env.*
.vscode
/.idea/
/cache/
/vendor/
/webcommon/
/.phpintel/
public/uploads/
app/runtime/
/nbproject/
composer.lock
/web_docker/
/docker/

